# ==================== ENV ====================
.env
.env.local
backend/.env
backend/.env.local
frontend/.env
frontend/.env.local

# ==================== NODE ====================
node_modules/
backend/node_modules/
frontend/node_modules/
npm-debug.log*
yarn-error.log*

# ==================== BUILD ====================
backend/dist/
frontend/dist/
frontend/.vite/


# ==================== PYTHON ====================
__pycache__/
*.py[cod]
.venv/
ai-service/.venv/
*.egg-info/
ai-service/__pycache__/
ai-service/data/
ai-service/models/*.joblib
ai-service/models/*.pkl
ai-service/models/*.keras
ai-service/models/*.h5

# ==================== DOCKER ====================
*.log
postgres_data/

# ==================== OS ====================
.DS_Store
Thumbs.db

# ==================== VSCODE ====================
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
